<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h2>REGISTRO DE PRODUCTOS</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-10 col-xl-8 col-xxl-6">
      <div class="card">
        <div class="card-header">Ingrese los siguientes datos</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">ISBN</span>
              <input
                type="text"
                class="form-control"
                placeholder="xxx-x-xx-xxxxxx-x"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">Nombre</span>
              <input
                type="text"
                class="form-control"
                placeholder="Nombre producto"
                aria-label="Nombre producto"
                aria-describedby="basic-addon1"
              />
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">Precio</span>
              <input
                type="text"
                class="form-control"
                placeholder="$000.00"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">Cantidad</span>
              <input
                type="text"
                class="form-control"
                placeholder="Ej. 1"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
