<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>REGISTRO DE PRODUCTOS</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 18rem">
        <div class="card-header">Ingrese los siguientes datos</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">ISBN</span>
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">Nombre</span>
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">Precio</span>
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">Cantidad</span>
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
