<div class="container">
  <div class="container">
    <div class="row row-cols-2">
      <button type=" button" class="btn btn-primary btn-lg col p-4 g-2">Iniciar Sesion</button>
      <button type="button" class="btn btn-success btn-lg col p-4 g-2">Registrar producto</button>
      <button type="button" class="btn btn-warning btn-lg col p-4 g-2">Crear Nota de venta</button>
      <button type="button" class="btn btn-danger btn-lg col p-4 g-2">Consultar Nota de venta</button>
    </div>
  </div>
</div>