<div class="container" *ngIf=" usuario && (usuario.enccompras || usuario.administrador); else iniciarSesion">
    <div class="row text-center">
      <div class="col-12">
        <h2>REGISTRO DE AUTORES</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8 col-xxl-6">
        <form [formGroup]="formUser">
          <div class="card">
            <div class="card-header">Ingrese los siguientes datos</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="input-group">
                  <label class="input-group-text" for="options">Autor</label>
                  <span style="width: 83.8%;">
                    <p-dropdown
                      inputId="options"
                      (onChange)="changeListener($event)"
                      styleClass="w-100"
                      [options] = "autores"
                      optionLabel="nombre"
                      [filter] = "true"
                      filterBy = "nombre"
                      [showClear]="true"
                      placeholder="Seleccione un autor"
                    ></p-dropdown>
                  </span>

                </div>
              </li>

              <li class="list-group-item">
                <div class="input-group">
                  <label class="input-group-text" for="nombre" id="basic-addon1">Nombre</label>
                  <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre del autor"
                    aria-label="Nombre producto" aria-describedby="basic-addon1" id="nombre" required />
                </div>

                <div class="alert alert-danger mt-2"
                  [hidden]="formUser.get('nombre')?.valid || formUser.get('nombre')?.pristine">
                  <span *ngIf="formUser.get('nombre')?.errors?.['required']">
                    El nombre es requerido.
                  </span>
                </div>

              </li>
            </ul>
          </div>
          <div class="text-center my-2" id="btnDiv">
            <button type="submit" class="btn btn-lg btn-primary" (click)="registrarAutor()" id="btnReg"
              [disabled]="formUser.invalid"><i class="fa-solid fa-book"></i> Registrar
              <i class="fa-solid fa-book"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <ng-template #iniciarSesion>
    <div class="container my-4 text-center">
      <h1>Inicie sesión para acceder a esta página</h1>
    </div>
  </ng-template>
