<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-xl-8 col-xxl-6">
      <div class="card">
        <div class="card-header">Ingrese los siguientes datos</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="input-group">
              <label class="input-group-text" for="usuario" id="basic-addon1">Usuario:</label>
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                aria-label="Username"
                aria-describedby="basic-addon1"
                id="usuario"
                [(ngModel)]="usuario"
              />
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group">
              <label class="input-group-text" for="contrasena" id="basic-addon1">Contraseña:</label>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                aria-label="Password"
                aria-describedby="basic-addon1"
                [(ngModel)]="contrasena"
                id="contrasena"
              />
            </div>
          </li>
          <li class="list-group-item text-center">
            <input type="submit" class="btn btn-lg btn-primary" (click)="login()" value="Iniciar Sesión">
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col-lg-10 col-xl-8 col-xxl-6 text-center">
    <button
      type="button"
      class="btn btn-secondary btn-lg p-4 g-2"
      routerLink="/"
      >
      Regresar
    </button>
    </div>
  </div>
</div>
