<div class="container my-2">
  <div class="inicio">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xxl-4 justify-content-center">
      <div class="col p-1" id="IniciarSesion">
        <button type="button" class="btn btn-primary btn-lg p-4 g-2 w-100 option" routerLink="/login">
          Iniciar Sesion
        </button>
      </div>
    </div>
    <div class="hidden mt-4" id="ventas">
      <div class="col-12 p-1">
        <h1 class="text-center">Ventas</h1>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xxl-4 justify-content-evenly">
        <div class="col p-1 mb-2" id="RegNV">
          <button type="button" class="btn green hover btn-lg p-4 g-2 w-100 option" routerLink="/CrearNV">
            Crear nota de venta
          </button>
        </div>
        <div class="col p-1 mb-2" id="ConsNV">
          <button type="button" class="btn yellow hover btn-lg p-4 g-2 w-100 option" routerLink="/ConsNV">
            Consultar nota de venta
          </button>
        </div>
        <div class="col p-1 mb-2" id="RegENC">
          <button type="button" class="btn blue hover btn-lg p-4 g-2 w-100 option" routerLink="/RegNE">
            Registrar encargo
          </button>
        </div>
        <div class="col p-1 mb-2" id="ConsENC">
          <button type="button" class="btn turquoise hover btn-lg p-4 g-2 w-100 option" routerLink="/ConsEncargo">
            Consultar encargo
          </button>
        </div>
        <div class="col p-1 mb-2" id="RegNA">
          <button type="button" class="btn red hover btn-lg p-4 g-2 w-100 option" routerLink="/RegNA">
            Registrar nota de apartado
          </button>
        </div>
        <div class="col p-1 mb-2" id="ConsNA">
          <button type="button" class="btn orange hover btn-lg p-4 g-2 w-100 option" routerLink="/ConsNA">
            Consultar nota de apartado
          </button>
        </div>
      </div>
    </div>
    <div class="hidden mt-4" id="clientes">
      <div class="col-12 p-1">
        <h1 class="text-center">Clientes</h1>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xxl-4 justify-content-evenly">
        <div class="col p-1 mb-2" id="RegProd">
          <button type="button" class="btn pink hover btn-lg p-4 g-2 w-100 option" routerLink="/RegClientes">
            Registrar cliente
          </button>
        </div>
      </div>
    </div>
    <div class="hidden mt-4" id="compras">
      <div class="col-12 p-1">
        <h1 class="text-center">Compras</h1>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xxl-4 justify-content-evenly">
        <div class="col p-1 mb-2" id="RegProd">
          <button type="button" class="btn red hover btn-lg p-4 g-2 w-100 option" routerLink="/CrearNC">
            Crear nota de compra
          </button>
        </div>
        <div class="col p-1 mb-2" id="RegNV">
          <button type="button" class="btn orange hover btn-lg p-4 g-2 w-100 option" routerLink="/ConsNC">
            Consultar nota de compra
          </button>
        </div>
        <div class="col p-1 mb-2" id="Productos">
          <button type="button" class="btn green hover btn-lg p-4 g-2 w-100 option" routerLink="/RegProd">
            Productos
          </button>
        </div>
        <div class="col p-1 mb-2" id="Editoriales">
         <button type="button" class="btn menta hover btn-lg p-4 g-2 w-100 option" routerLink="/RegAut">Autores</button>
      </div>
       <div class="col p-1 mb-2" id="Editoriales">
         <button type="button" class="btn turquoise hover btn-lg p-4 g-2 w-100 option" routerLink="/RegEdit">
            Editoriales
          </button>
        </div>
        <div class="col p-1 mb-2" id="Proveedores">
          <button type="button" class="btn blue hover btn-lg p-4 g-2 w-100 option" routerLink="/CrearProv">
            Proveedores
          </button>
        </div>
      </div>
    </div>
    <div class="hidden mt-4" id="administracion">
      <div class="col-12 p-1">
        <h1 class="text-center">Administración</h1>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xxl-4 justify-content-evenly">
        <div class="col p-1 mb-2" id="Productos">
          <button type="button" class="btn menta hover btn-lg p-4 g-2 w-100 option" routerLink="/RegEmp">
            Empleados
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
