<div class="container my-2">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <div class="col p-1 " id="IniciarSesion">
      <button type="button" class="btn btn-primary btn-lg p-4 g-2 w-100 option" routerLink="/login">Iniciar Sesion</button>
    </div>
    <div class="col p-1 " id="RegProd">
      <button type="button" class="btn btn-success btn-lg p-4 g-2 w-100 option" routerLink="/RegProd">Registrar producto</button>
    </div>
    <div class="col p-1" id="RegNV">
      <button type="button" class="btn btn-warning btn-lg p-4 g-2 w-100 option" routerLink="/CrearNV">Crear Nota de venta</button>
    </div>
   <div class="col p-1" id="ConsNV">
    <button type="button" class="btn btn-danger btn-lg p-4 g-2 w-100 option" routerLink="/ConsNV">Consultar Nota de venta</button>
   </div>
  </div>
</div>


