<div class="container my-2">
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
    <div class="col p-1">
      <button type="button" class="btn btn-primary btn-lg p-4 g-2 w-100" routerLink="/login">Iniciar Sesion</button>
    </div>
    <div class="col p-1">
      <button type="button" class="btn btn-success btn-lg p-4 g-2 w-100" routerLink="/RegProd">Registrar producto</button>
    </div>
    <div class="col p-1">
      <button type="button" class="btn btn-warning btn-lg p-4 g-2 w-100" routerLink="/CrearNV">Crear Nota de venta</button>
    </div>
   <div class="col p-1">
    <button type="button" class="btn btn-danger btn-lg p-4 g-2 w-100" routerLink="/ConsNV">Consultar Nota de venta</button>
   </div>
  </div>
</div>
