<div class="row text-center">
  <div class="col-12">
    <h2>REGISTRO DE CLIENTES</h2>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-10 col-xl-8 col-xxl-6">
    <form [formGroup]="formGroup">
      <div class="card">
        <div class="card-header">Ingrese los siguientes datos</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="input-group">
              <label class="input-group-text" for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" formControlName="nombre" />
            </div>

            <div class="alert alert-danger mt-2" [hidden]="
                formGroup.get('nombre')?.valid ||
                formGroup.get('nombre')?.pristine
              ">
              <span *ngIf="formGroup.get('nombre')?.errors?.['required']">
                El nombre es requerido.
              </span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group">
              <label for="telefono" class="input-group-text" id="basic-addon1">Telefono</label>
              <input type="text" class="form-control" formControlName="telefono" placeholder="xxx-xxx-xx-xx"
                id="telefono" required />
            </div>

            <div class="alert alert-danger mt-2" [hidden]="
                formGroup.get('telefono')?.valid ||
                formGroup.get('telefono')?.pristine
              ">
              <span *ngIf="formGroup.get('telefono')?.errors?.['required']">
                El telefono es requerido.
              </span>

              <span *ngIf="formGroup.get('telefono')?.errors?.['pattern']">
                El telefono solo puede tener numeros.
              </span>

              <span *ngIf="formGroup.get('telefono')?.errors?.['maxLength']">
                El telefono no es valido.
              </span>
            </div>
          </li>
          <li class="list-group-item"></li>
        </ul>
      </div>
      <div class="text-center my-2">
        <button type="submit" class="btn btn-lg btn-primary" id="btnReg" [disabled]="formGroup.invalid">
          <i class="fa-solid fa-book"></i> Registrar
          <i class="fa-solid fa-book"></i>
        </button>
      </div>
    </form>
  </div>
</div>