<div class="container">
  <div class="container">
    <div class="row row-cols-2">
      <button type=" button" class="btn btn-primary btn-lg col p-4 g-2" routerLink="">Iniciar Sesion</button>
      <button type="button" class="btn btn-success btn-lg col p-4 g-2" routerLink="/RegProd">Registrar producto</button>
      <button type="button" class="btn btn-warning btn-lg col p-4 g-2" routerLink="/CrearNV">Crear Nota de venta</button>
      <button type="button" class="btn btn-danger btn-lg col p-4 g-2" routerLink="/ConsNV">Consultar Nota de venta</button>
    </div>
  </div>
</div>
